.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5%;
}

.links {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.logout-btn {
  background-color: rgb(231, 16, 152);
  border: none;
  padding: 5px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.logout-btn:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(219, 0, 117);
}
